/*
.seemyresume{
    background-color: #55198b;
    border: 1px solid #55198b;
    color: #fff;
    font-weight: 700;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 13px 22px;
    margin-right: 50px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}
.header li a{
    display: inline-block;
    padding: 20px;
    color: black;
    text-decoration: none;
}
a{
    cursor: pointer;
}
li {
    text-align: -webkit-match-parent;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}*/
nav a{
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: white;
    padding: 10px 50px;
    margin: 10px 75px;
    text-align: right;
}
nav a:hover{
    opacity: 1;
	text-shadow: #5f9ea0;
}