/*
.header li a{
    display: inline-block;
    padding: 20px;
    color: black;
    text-decoration: none;
}
a{
    cursor: pointer;
}
li {
    text-align: -webkit-match-parent;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}*/
body {
    margin: 0;
    font-family: Montserrat,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
nav a{
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: white;
    padding: 30px 60px 10px 60px;
    margin: 0px 100px 0px 100px;
    text-align: left;
    font-size: larger;
}
h1{
    font-family: Montserrat,sans-serif;
    display: block;
    font-size: 3em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    padding: 2em 0em 0em 2em;
    margin-inline-end: 0px;
    font-weight: bold;
    
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0em 0em 0em 4em;
    font-weight: bold;
}
.tagline{
    color: #6b6b6b;
}
.techicons:hover{
    color: rgb(8, 120, 224);
}
.socialicons{
    padding: 1em 0em 0em 5em;
}
.introsocialicons{
    padding: 1em 0em 0em 3em;
}
section p{
    padding: 0em 3em 0em 3em;
    display: inline-block;
    color: rgb(75, 75, 75);
    font-size: large;
    line-height: 1.5;
}
.left{
	margin-right: 7px;
    height: 50%;
    width: 50%;
	padding: 0.5em 0em 0em 3em;
	display: inline-block;
	float: left;
}
.right{
    padding: auto;
    display: inline-block;
    float: right;
}
.cv{
    background-color: #55198b;
    border: 1px solid #55198b;
    color: #fff;
    box-shadow: 14px -10px 20px 4px rgba(0,0,0,0.15);
    font-weight: 700;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 12px 22px;
    margin-right: 50px;
    margin-left: 3.5em;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}