.intro-text {
  font-size: 1.25rem;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Montserrat";
}
.intro-name {
  font-size: 4.5rem;
  line-height: 1.2;
  font-family: "Montserrat";
}
.intro-title {
  font-size: 23px;
  font-weight: 700;
  color: var(--ldhr-blue);
  font-family: "Montserrat";
}
.introduction-main-container {
  /* animation: fadeIn 1s ease-in; */
}
.intro-hi-emoji {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: hi;
  display: inline-block;
  transform-origin: 70% 70%;
}
h3.intro-hello-text {
  font-size: 40px;
  font-weight: 900;
  transition: all 0.2s ease-out;
  font-family: "Montserrat";
}
.intro-hello-text > span {
  font-family: "Montserrat";
}
h3 {
  color: #5f6368;
}
p {
  color: #5f6368;
  letter-spacing: -0.15px;
}
.hello-text-blue {
  color: var(--ldhr-blue);
}
.hello-text-red {
  color: var(--ldhr-red);
}
.hello-text-green {
  color: var(--ldhr-green);
}
.introduction-button-container {
  display: flex;
}
.introduction-buttons {
  margin-right: 15px;
}
.intro-skills-wrapper {
  margin-top: 25px;
}
.intro-skills {
  border: 2px solid rgb(225, 225, 225);
  align-self: center;
  align-items: center;
  border-radius: 5px;
  padding: 4px 15px;
  margin-right: 10px;
}
.intro-skills-text {
  font-size: 13.5px;
  font-weight: 900;
  line-height: 20px;
  color: #3b3b3b;
  margin-left: 10px;
  font-family: "Montserrat";
  letter-spacing: 0.45px;
}
.intro-skills-img {
  width: 22px;
}
a.intro-skills-more:hover {
  text-decoration: none;
  font-weight: bold;
}

/* Animamtion */
@keyframes hi {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes slideInFromLet {
  0% {
    /* transform: translateX(-100%); */
    opacity: 0;
  }
  100% {
    /* transform: translateX(0%); */
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Media Query for responsiveness */
@media only screen and (max-width: 998px) {
  .intro-name {
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 645px) {
  .visibility-hidden-1 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .intro-name {
    font-size: 3.65rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .intro-text {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 530px) {
  .visibility-hidden-2 {
    display: none;
  }
}
@media only screen and (max-width: 482px) {
  .intro-name {
    font-size: 3.25rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .intro-text {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 433px) {
  .intro-name {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 545px) {
  h3.intro-hello-text {
    font-size: 35px;
    font-weight: 900;
    transition: all 0.2s ease-out;
  }
  .intro-name {
    font-size: 3.35rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 505px) {
  .intro-name {
    font-size: 2.65rem;
    font-weight: 300;
    line-height: 1.2;
    /* letter-spacing: -6px; */
  }
  h3.intro-hello-text {
    font-size: 28px;
    font-weight: 900;
    transition: all 0.2s ease-out;
  }
  .intro-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--ldhr-blue);
  }
}
