.intro-text {
  font-size: 23px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.intro-name {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.intro-title {
  font-size: 1.25rem;
  font-weight: 300;
}
.introduction-main-container {
  animation: fadeIn 1s ease-in;
}
h3 {
  color: rgb(82, 82, 82);
}

/* Animamtion */
@keyframes slideInFromLet {
  0% {
    /* transform: translateX(-100%); */
    opacity: 0;
  }
  100% {
    /* transform: translateX(0%); */
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
