.intro-text {
  font-size: 23px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.intro-name {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.intro-title {
  font-size: 1.25rem;
  font-weight: 300;
}
.introduction-main-container {
  animation: fadeIn 1s ease-in;
}
h3 {
  color: rgb(82, 82, 82);
}

/* Animamtion */
@keyframes slideInFromLet {
  0% {
    /* transform: translateX(-100%); */
    opacity: 0;
  }
  100% {
    /* transform: translateX(0%); */
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Media Query for responsiveness */
@media only screen and (max-width: 998px) {
  .intro-name {
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 600px) {
  .intro-name {
    font-size: 3.65rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .intro-text {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 482px) {
  .intro-name {
    font-size: 3.25rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .intro-text {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 433px) {
  .intro-name {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
