/* .navbar {
  color: #5f6368;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #5c5353;
}
.navbar ul {
  display: flex;
}
.navbar a {
  color: #5c5353;
  padding: 15px 10px;
  margin: 0 5px;
  margin-top: 10px;
  font-size: 1.25rem;
}
.navbar a:hover {
  border-bottom: 3px #fff solid;
}
.navbar .flex {
  justify-content: space-between;
}
div#navbar-list a {
  text-decoration: none;
  color: #5f6368;
}
.navbar {
  list-style-type: none;
}
div#navbar-list ul {
  list-style-type: none;
} */
/* Media Query for responsiveness */
/* @media only screen and (max-width: 768px) {
  div#navbar-list {
    display: none;
  }
} */
.nav-wrapper {
  display: grid;
  grid-template-columns: 5fr 0.75fr 1fr 1fr 1fr 1fr 0.75fr;
  /* background-color: black; */
  grid-template-areas: ". nav-item-1 nav-item-2 nav-item-3 nav-item-4 nav-item-5 nav-item-6";
  height: 100%;
  justify-self: center;
}
.nav-item {
  justify-self: center;
  align-self: center;
}
.nav-item h1:hover {
  /* border-bottom: 5px solid #006aff; */
  color: #006aff;
}

.nav-item-1 {
  grid-area: nav-item-1;
}
.nav-item-1:hover {
  text-decoration: none;
}
.nav-item-2 {
  grid-area: nav-item-2;
}
.nav-item-2:hover {
  text-decoration: none;
}
.nav-item-3 {
  grid-area: nav-item-3;
}
.nav-item-3:hover {
  text-decoration: none;
}
.nav-item-4 {
  grid-area: nav-item-4;
}
.nav-item-4:hover {
  text-decoration: none;
}
.nav-item-5 {
  grid-area: nav-item-5;
}
.nav-item-5:hover {
  text-decoration: none;
}
.nav-item-6 {
  grid-area: nav-item-6;
}
.nav-item-6:hover {
  text-decoration: none;
}
.nav-wrapper h1 {
  font-size: 14px;
  font-weight: 400;
  color: #5f6368;
  margin: 0px;
}
.nav-btn {
  padding: 5px 10px;
  border-radius: 5px;
  width: auto;
  outline: none;
  border-radius: 5px;
  background-color: #006aff;
  color: #fff;
  border: 0px solid #fff;
  box-shadow: 0px 6px 14px -6px rgb(24 39 75 / 12%),
    0px 10px 32px -4px rgb(24 39 75 / 10%),
    inset 0px 0px 2px 1px rgb(24 39 75 / 5%);
  transition: all 0.2s ease-out;
}
.nav-btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #006aff;
  font-size: 1.1rem;
  transform: translateY(-3px);
}
/* Media Query for responsiveness */
@media only screen and (max-width: 1075px) {
  .nav-wrapper {
    display: grid;
    grid-template-columns: 4.5fr 0.75fr 1fr 1fr 1fr 1fr 0.75fr;
    grid-template-areas: ". nav-item-1 nav-item-2 nav-item-3 nav-item-4 nav-item-5 nav-item-6";
    height: 100%;
    justify-self: center;
  }
}
@media only screen and (max-width: 975px) {
  .nav-wrapper {
    display: grid;
    grid-template-columns: 3fr 0.75fr 1fr 1fr 1fr 1fr 0.75fr;
    grid-template-areas: ". nav-item-1 nav-item-2 nav-item-3 nav-item-4 nav-item-5 nav-item-6";
    height: 100%;
    justify-self: center;
  }
}
@media only screen and (max-width: 850px) {
  .nav-wrapper {
    display: grid;
    grid-template-columns: 2fr 0.75fr 1fr 1fr 1fr 1fr 0.75fr;
    grid-template-areas: ". nav-item-1 nav-item-2 nav-item-3 nav-item-4 nav-item-5 nav-item-6";
    height: 100%;
    justify-self: center;
  }
}
@media only screen and (max-width: 725px) {
  .nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.75fr 1fr 1fr 1fr 1fr 0.75fr;
    grid-template-areas: ". nav-item-1 nav-item-2 nav-item-3 nav-item-4 nav-item-5 nav-item-6";
    height: 100%;
    justify-self: center;
  }
}
@media only screen and (max-width: 700px) {
  .nav-wrapper {
    display: none;
  }
}
