.prof-ex-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "mastercard-logo mastercard";
  /* "anothercompany-logo anothercompany"; */
}
.prof-ex-mastercard-img {
  grid-area: mastercard-logo;
  text-align: center;
}
.prof-ex-mastercard {
  grid-area: mastercard;
}
.prof-ex-mastercard-img > img {
  width: 150px;
}
h3.prof-ex-title {
  font-size: 20px;
  color: #5f6368;
}

img.prof-ex-wrapper-img {
  /* padding: 10px;
  margin: 10px; */
  /* justify-self: center; */
  text-align: center;
  margin: 20px;
}
.prof-ex-content-wrapper {
  margin-left: 50px;
}
.prof-ex-time {
  font-size: 0.95rem;
  color: #5f6368;
}
.prof-ex-mastercard-img > img {
  width: 100px;
  /* box-shadow: 0px 0px 20px 5px #ff5f0030; */
  border-radius: 50%;
}
/* .prof-ex-anothercompany-img {
  grid-area: anothercompany-logo;
}
.prof-ex-anothercompany {
  grid-area: anothercompany;
}
.prof-ex-anothercompany-img > img {
  width: 150px;
} */

@media only screen and (max-width: 768px) {
  .prof-ex-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.75fr;

    grid-template-areas:
      "mastercard-logo"
      "mastercard";
    /* "anothercompany-logo anothercompany"; */
  }
}
