.prof-ex-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "company-logo company-name";
  align-items: center;
  /* "anothercompany-logo anothercompany"; */
}
.prof-ex-company-logo-img {
  grid-area: company-logo;
  text-align: left;
}
.prof-ex-company-name {
  grid-area: company-name;
}
.prof-ex-company-logo-img > img {
  width: 150px;
}
h3.prof-ex-title {
  font-size: 20px;
  color: #5f6368;
}

img.prof-ex-wrapper-img {
  /* padding: 10px;
  margin: 10px; */
  /* justify-self: center; */
  text-align: center;
  margin: 20px;
}
.prof-ex-content-wrapper {
  margin-left: 50px;
}
.prof-ex-time {
  font-size: 0.95rem;
  color: #5f6368;
}
.prof-ex-company-logo-img > img {
  width: 100px;
  /* box-shadow: 0px 0px 20px 5px #ff5f0030; */
  border-radius: 50%;
}
.prof-ex-absolute-time {
  display: inline-block;
  padding: 3px !important;
  font-size: 12px;
  border-radius: 4px;
  color: black;
  padding-left: 2px;
  font-weight: 700;
  margin: 0;
  border: 2px solid #006aff;
}
.css-16u30nb-TimelineControlContainer,
.e1gmwefz1 {
  display: none !important;
}
.prof-ex-company-details {
  border: 1px solid;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid rgb(225, 225, 225);
  transition: all 0.2s ease-out;
}
.prof-ex-company-details:hover {
  box-shadow: 0 20px 30px -10px rgb(0 0 0 / 20%);
  cursor: pointer;
  transform: translateY(-3px);
}

/* .prof-ex-anothercompany-img {
  grid-area: anothercompany-logo;
}
.prof-ex-anothercompany {
  grid-area: anothercompany;
}
.prof-ex-anothercompany-img > img {
  width: 150px;
} */

/* @media only screen and (max-width: 768px) {
  .prof-ex-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.75fr;

    grid-template-areas:
      "company-logo"
      "company-name";
   
  }
} */
