.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

img.skills-wrapper-img {
  padding: 10px;
  /* margin: 10px; */
  justify-self: center;
  width: 96px;
  transition: all 0.2s ease-out;
}

img.skills-wrapper-img:hover {
  /* background-color: #f1f1f1; */
  /* border-radius: 50%; */
  cursor: pointer;
  transform: translateY(-3px);
}
.skills-items {
  text-align: center;
  margin-bottom: 10px;
}
h6.skills-items-text {
  font-weight: 900;
  color: #313232;
}
/* Media Query for responsiveness */
@media only screen and (max-width: 1105px) {
  img.skills-wrapper-img {
    width: 90px;
  }
}
@media only screen and (max-width: 945px) {
  img.skills-wrapper-img {
    width: 96px;
  }
}
@media only screen and (max-width: 575px) {
  .skills-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
