* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Sofia Pro", Arial, Helvetica, sans-serif;
  background-color: white;
}

.main-grid-wrapper {
  display: grid;
  grid-template-columns: 0.355fr 1fr 1fr 1.5fr 0.25fr;
  grid-template-rows: 60px calc(100vh - 60px) 20px 0.5fr 20px 0.5fr 20px 0.5fr 20px 1fr 20px 1.5fr 20px 1.5fr 10px 0.5fr;
  grid-gap: 10px;

  grid-template-areas:
    "navbar navbar navbar navbar navbar"
    ". introduction introduction intro-scroll ."
    ". . . . ."
    ". skills skills skills-svg ."
    ". . . . ."
    ". education education education ."
    ". . . . ."
    ". prof-ex prof-ex prof-ex ."
    ". . . . ."
    ". projects projects projects ."
    ". . . . ."
    ". certificates certificates certificates ."
    ". . . . ."
    ". contact contact contact ."
    ". . . . ."
    "footer footer footer footer footer";

  /* background-image: url("./assets/img/wave.svg"), url("./assets/img/wave-1.svg"); */
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  position: relative;
}
.grid-navbar-wrapper {
  grid-area: navbar;
  width: 100%;
  border-bottom: 1px solid #dadce0;
}
.grid-introduction-wrapper {
  grid-area: introduction;
  align-self: center;
}

.grid-intro-scroll-wrapper {
  grid-area: intro-scroll;
  align-self: center;
  justify-self: center;
}

.grid-skills-wrapper {
  grid-area: skills;
}
.grid-skills-svg-wrapper {
  grid-area: skills-svg;
  align-self: center;
  justify-self: end;
}
.grid-education-wrapper {
  grid-area: education;
}
.grid-prof-ex-wrapper {
  grid-area: prof-ex;
}
.grid-projects-wrapper {
  grid-area: projects;
}
.grid-certificates-wrapper {
  grid-area: certificates;
}
.grid-contact-wrapper {
  grid-area: contact;
}
.grid-intro-scroll-2-wrapper {
  grid-area: intro-scroll-2;
  align-self: center;
  justify-self: center;
}
.grid-footer-wrapper {
  grid-area: footer;
  text-align: center;
  justify-self: center;
}
.section-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 25px;
  margin-bottom: 15px;
}
img#grid-skills-svg-image {
  width: 440px;
}
.card {
  border-radius: 10px !important;
}
.card-body {
  border-radius: inherit !important;
}
.card-img,
.card-img-top {
  border-radius: inherit !important;
}
.current-location {
  font-weight: bold;
  color: #5f6368;
}

/* Media Query for responsiveness */
@media only screen and (max-width: 1205px) {
  img#grid-skills-svg-image {
    width: 340px;
  }
}
/* @media only screen and (max-width: 998px) {
  .grid-navbar-wrapper {
    grid-area: navbar;
    justify-self: center;
  }
} */
@media only screen and (max-width: 945px) {
  .main-grid-wrapper {
    grid-template-columns: 0.355fr 1fr 1fr 1.5fr 0.355fr;
    grid-template-rows: 60px calc(100vh - 60px) 10px 1fr 10px 0.5fr 10px 0.5fr 10px 0.5fr 10px 1fr 10px 1.5fr 10px 1.5fr 10px 0.5fr;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      ". introduction introduction introduction ."
      ". . . . ."
      ". intro-scroll intro-scroll intro-scroll ."
      ". . . . ."
      ". skills skills skills ."
      ". . . . ."
      ". education education education ."
      ". . . . ."
      ". prof-ex prof-ex prof-ex ."
      ". . . . ."
      ". projects projects projects ."
      ". . . . ."
      ". certificates certificates certificates ."
      ". . . . ."
      ". contact contact intro-scroll-2 ."
      ". . . . ."
      "footer footer footer footer footer";
  }
  img#grid-skills-svg-image {
    display: none;
  }
  .grid-navbar-wrapper {
    grid-area: navbar;
    /* justify-self: end; */
    /* background-color: yellow; */
    width: 100%;
    border-bottom: 0px solid #dadce0;
  }
}
@media only screen and (max-width: 835px) {
  .main-grid-wrapper {
    grid-template-columns: 0.355fr 1fr 1fr 1.5fr 0.25fr;
    grid-template-rows: 60px calc(100vh - 60px) 10px 1fr 10px 0.5fr 10px 0.5fr 10px 0.5fr 10px 1fr 10px 1.5fr 10px 1.5fr 10px 1fr 0.5fr;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      ". introduction introduction introduction introduction ."
      ". . . . ."
      ". intro-scroll intro-scroll intro-scroll ."
      ". . . . ."
      ". skills skills skills ."
      ". . . . ."
      ". education education education ."
      ". . . . ."
      ". prof-ex prof-ex prof-ex ."
      ". . . . ."
      ". projects projects projects ."
      ". . . . ."
      ". certificates certificates certificates ."
      ". . . . ."
      ". contact contact contact ."
      ". . . . ."
      ". intro-scroll-2 intro-scroll-2 intro-scroll-2 ."
      "footer footer footer footer footer";
  }
}
@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 25px;
  }
}
