html {
  scroll-behavior: smooth;
}

code {
  font-family: "Montserrat", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat";
}
:root {
  --ldhr-blue: #1662f5;
  --ldhr-red: #ff4154;
  --ldhr-green: #0caa41;
  --ldhr-yellow: #f9ab00;
  --ldhr-black: #282828;
}

/* --ldhr-blue: #006aff;
  --ldhr-red: #ff0000;
  --ldhr-green: #13aa52;
  --ldhr-black: #282828; */
